@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@media screen and (min-width: 901px) {
  * {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    outline: 0;
    color: white;
    scrollbar-color: #444444 #333333;
  }

  ul {
    list-style-type: none;
  }
  i {
    vertical-align: middle;
  }

  span {
    color: lightgray;
  }

  #dot {
    height: 1vw;
    width: 1vw;
    background-color: green;
    border: 2px solid white;
    border-radius: 100px;
    display: inline-block;
  }

  video {
    width: 90%;
    max-height: 60vh;
  }

  iframe {
    width: 90%;
    height: 40vh;
  }

  #button {
    background-color: #333333;
    color: white;
    border: 0;
    padding: 3vh 3vw;
    border-radius: 100px;
    font-weight: bold;
    font-size: large;
    width: 100%;
  }
  #button:hover {
    background-color: black;
  }

  #overlay-pics {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
    background-color: rgba(19, 18, 18, 0.9);
    background-size: cover;
    z-index: 100;
    padding-top: 5vh;
    img {
      display: block;
      margin: 0 auto;
      max-height: 90vh;
    }
    button {
      position: absolute;
      top: 12vh;
      right: 55vh;
      background-color: rgba(19, 18, 18, 0.5);
      color: white;
    }
  }

  #home {
    background-color: #0a0c11;
    padding: 35vh 30vw;
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    div {
      text-align: center;
      font-size: xx-large;
      font-weight: bold;
      width: 100%;
      padding: 1vh 0;
      color: white;
      button {
        @extend #button;
        margin: 1vh;
        width: 40%;
      }
    }
  }

  #user {
    display: grid;
    grid-template-columns: 20% 80%;
  }

  #side-nav {
    position: fixed;
    height: 100vh;
    padding: 0;
    width: 23%;
    background-color: #2a2a2a;
    li {
      padding: 3vh 4vw;
      margin: 2vh 1vw;
      border-radius: 20px;
      font-weight: bold;
      font-size: large;
      color: white;
      background-color: #333333;
      i {
        font-weight: bold;
        font-size: x-large;
        vertical-align: middle;
        color: white;
      }

      span {
        position: absolute;
        top: 44vh;
        left: 6vw;
        display: none;
      }
    }
    li:hover {
      background-color: #444444;
      color: white;
      border: 0;
    }
    a {
      text-decoration: none;
    }
    button {
      @extend #button;
      margin: 1vw;
      width: 85%;
    }
  }

  #side-nav-phone {
    display: none;
  }

  #side-nav-tablet {
    display: none;
  }

  #main {
    display: grid;
    grid-template-columns: 57% 43%;
    position: absolute;
    top: 0;
    left: 23%;
    width: 77%;
    background-color: #2a2a2a;
  }

  .main-left {
    min-height: 100vh;
  }

  #profile-head {
    display: grid;
    grid-template-columns: 90% 10%;
    padding: 1vh 1vw;
    border-bottom: 1px solid rgb(36, 35, 35);
    background-color: #333333;
    position: fixed;
    top: 0;
    width: 42%;
    margin: 0 1vw;
    z-index: 10;
    i {
      line-height: 2;
    }
  }

  #cover-image {
    height: 15vw;
    width: 95.5%;
    margin: 10vh 1vw 0 1vw;
    background-color: #444444;
  }

  #profile-pic {
    width: 10vw;
    height: 10vw;
    border-radius: 100px;
    border: 4px solid white;
    position: absolute;
    top: 15vw;
    left: 2vw;
  }

  #profile-div {
    display: grid;
    grid-template-columns: auto;
    padding: 2vh 1vw 1vh 1vw;
    margin: 0 1vw;
    background-color: #333333;
    div {
      padding: 1vh 0;
      button {
        background-color: #2a2a2a;
      }
    }
  }

  .main-right {
    position: fixed;
    right: 0;
    height: 100vh;
    width: 33%;
    background-color: #2a2a2a;
  }

  .profile-side-bar {
    padding: 2vh 2vw;
  }

  #search-people-results {
    position: fixed;
    width: 36.5%;
    box-shadow: 0 0 5px #444444;
    display: none;
    background-color: #333333;
    z-index: 10000;
    left: 28.5%;
    padding: 0;
    a {
      text-decoration: none;
      color: black;
    }
    li {
      display: grid;
      grid-template-columns: 15% 85%;
      padding: 2vh 2vw;
      div {
        font-size: 1vw;
        padding-left: 1vw;
      }
      img {
        width: 4vw;
        height: 4vw;
        border-radius: 100px;
      }
    }
    li:hover {
      background-color: #444444;
    }
  }

  #post-profile-div {
    img {
      width: 50px;
      height: 50px;
      border-radius: 100px;
    }
  }
  #text {
    font-weight: bold;
    font-size: 20px;
  }

  #post-footer {
    display: grid;
    grid-template-columns: 70% 10% 10% 10%;
    justify-items: center;
    button {
      background-color: #333333;
      border: 1px solid black;
    }
  }

  #post-gif-select,
  #post-emoji-select {
    display: none;
    overflow: auto;
    scrollbar-color: #444444 #333333;
    height: 30vh;
    grid-column: span 5;
  }

  #post-img-div {
    display: none;
    margin: 1vh auto;
    i {
      position: absolute;
      top: 160px;
      right: 30px;
    }
    div {
      height: 30vh;
      overflow: auto;
      scrollbar-color: #444444 #333333;
      display: grid;
      grid-template-columns: auto auto;

      img {
        width: 100%;
        max-height: 50vh;
        padding: 1vh;
      }
    }
  }

  #post-video-div {
    display: none;
    video {
      display: block;
      margin: 2vh auto;
    }
    i {
      position: absolute;
      top: 200px;
      right: 20px;
    }
  }

  #post-gif-div {
    width: 50%;
    margin: 1vh auto;
    display: none;
    img {
      display: block;
      margin: 0 auto;
      max-width: 70%;
    }
    i {
      position: absolute;
      top: 225px;
      right: 100px;
    }
  }

  .user_posts {
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 2vh 0.5vw;
    background-color: #333333;
    border-radius: 20px;
    margin: 2vh 1vw;
    img {
      width: 4vw;
      height: 4vw;
      border-radius: 100px;
      margin: 0 auto;
      border: 1px solid white;
    }
  }

  .user_posts:hover {
    background-color: #444444;
  }

  #post-user-detail {
    padding-bottom: 1vh;
    margin: 0;
  }

  #post_detail {
    padding: 1.5vh 0 0 0.5vw;
    overflow-wrap: break-word;
    img {
      width: 95%;
      height: auto;
      max-height: 60vh;
      margin: 1vh 0;
      border-radius: 1vh;
      border: 1px solid lightgray;
    }
  }

  #overlayOnImage {
    position: absolute;
    top: 2%;
    left: 0;
    right: 5%;
    bottom: 2%;
    background-color: rgba(19, 17, 17, 0.5);
    h1 {
      text-align: center;
      color: white;
      padding: 20%;
    }
  }

  #post-images {
    position: relative;
    width: 95%;
  }

  #like-share {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-items: center;
    padding: 1vh 0;
    color: gray;
    i {
      vertical-align: middle;
    }
  }

  #comment-gif-div {
    padding-bottom: 2vh;
    img {
      width: 30%;
      border: 0;
    }
  }
  #messages-right {
    height: 100vh;
    overflow-y: auto;
    scrollbar-color: #444444 #333333;
    p {
      padding: 1vh 1vw;
      font-size: 1.5em;
      margin: 0 1vw;
      border-bottom: 1px solid rgb(34, 34, 34);
      background-color: #333333;
    }
  }

  #msg-people-search {
    margin: 0 1vw;
    padding: 3vh 2vw 1vh 2vw;
    border-bottom: 1px solid rgb(34, 34, 34);
    background-color: #333333;
  }

  #msg-profile-div {
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 2vh 2vw;
    margin: 2vh 1vw 1vh 1vw;
    background-color: #333333;
    border-radius: 20px;
  }
  #msg-profile-div:hover {
    background-color: #444444;
  }

  #msg-profile-pic {
    position: relative;
    img {
      width: 4vw;
      height: 4vw;
      border-radius: 100px;
      margin: 0 auto;
      border: 1px solid white;
    }
    span {
      position: absolute;
      top: 2.8vw;
      right: 1.5vw;
    }
  }

  #msg-not-selected {
    margin-top: 40vh;
    height: 60vh;
    text-align: center;
  }

  #msg-box {
    height: 96vh;
    margin: 2vh 1vw;
    background-color: #333333;
    border-radius: 20px;
  }

  #msg-box-profile {
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 2vh 1vw;
    img {
      width: 4vw;
      height: 4vw;
      border-radius: 100px;
      margin: 0 auto;
      border: 1px solid white;
    }
  }

  #msg-box-msgs {
    height: 75vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-color: #444444 #333333;
    padding: 1vh 1vw;
    background-color: #242526;
    img {
      max-height: 70vh;
      max-width: 30vw;
    }
    div {
      display: flex;
      padding: 0.5vh 0;
    }
  }

  .right {
    position: relative;
    flex-direction: row-reverse;
    img {
      border-radius: 20px 20px 0 20px;
    }
    li {
      list-style-type: none;
      max-width: 25vw;
      border-radius: 20px 20px 0 20px;
      padding: 1vh 1vw;
      background-color: #0084ff;
      color: white;
      overflow-wrap: break-word;
      span {
        color: white;
        text-align: right;
        font-size: 10px;
      }
    }
    span {
      color: gray;
      font-size: 10px;
      align-self: flex-end;
      padding: 0 10px;
    }
  }

  .left {
    flex-direction: row;
    img {
      border-radius: 20px 20px 20px 0;
    }
    li {
      max-width: 60%;
      list-style-type: none;
      border-radius: 20px 20px 20px 0;
      padding: 1vh 1vw;
      background-color: #3a3b3c;
      overflow-wrap: break-word;
      span {
        color: lightgray;
        text-align: right;
        font-size: 10px;
      }
      i {
        display: none;
      }
    }
    span {
      align-self: flex-end;
      text-align: left;
      font-size: 10px;
    }
    i {
      display: none;
    }
  }

  #msg-box-bottom-div {
    display: grid;
    grid-template-columns: 10% 10% 10% 70%;
    padding: 1vh 1vw;
    text-align: center;
    i {
      line-height: 1.5;
    }
    input {
      border-radius: 1vw;
      border: 1px solid lightgray;
      padding: 0.5vh 1vw;
      color: black;
    }
  }

  #gif-modal {
    height: 60vh;
    overflow: auto;
    scrollbar-color: #444444 #333333;
  }

  #home-posts {
    h2 {
      width: 42%;
      position: fixed;
      padding: 2vh 2vw;
      top: 0;
      z-index: 10;
      background-color: #333333;
      border: 1px solid rgb(36, 35, 35);
      margin: 0 1vw;
    }
  }
  #home-div-posts {
    margin-top: 12vh;
    h2 {
      text-align: center;
      margin-top: 11vh;
    }
  }
  #tweet-button-phone {
    display: none;
  }

  #home-profile-div {
    display: none;
  }

  #single-post-head {
    position: fixed;
    top: 0;
    padding: 1vh 2vw;
    width: 44%;
    border-bottom: 1px solid black;
    background-color: #333333;
    z-index: 10;
    margin: 0 1vw;
    width: 41vw;
  }
  #single-post-div {
    display: grid;
    grid-template-columns: 15% 85%;
    background-color: #333333;
    margin: 8.5vh 1vw 0 1vw;
    width: 41vw;
    padding-top: 2vh;
  }
  #single-post-profile-pic {
    img {
      display: block;
      width: 4vw;
      height: 4vw;
      border-radius: 100px;
      margin: 0 auto;
      border: 1px solid white;
    }
  }

  #single-post-text {
    font-size: 18px;
    overflow-wrap: break-word;
  }

  #single-post-img-div {
    display: grid;
    grid-template-columns: auto auto;
    padding-right: 2vw;
    img {
      width: 95%;
      height: auto;
      max-height: 70vh;
      border-radius: 1vh;
      border: 1px solid white;
    }
  }

  #single-post-date {
    padding: 1vh 2vw;
    background-color: #333333;
    margin: 0 1vw;
    width: 41vw;
    span {
      font: 12px;
    }
  }

  #single-post-likeshare {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 2vh 2vw;
    background-color: #333333;
    margin: 0 1vw;
    width: 41vw;
  }

  #likesharecomment {
    display: grid;
    grid-template-columns: 34% 33% 33%;
    border-bottom: 1px solid black;
    padding: 2vh 0;
    background-color: #333333;
    margin: 0 1vw;
    width: 41vw;
    span {
      margin: 0 auto;
    }
  }

  #notific-head {
    padding: 2vh 2vw;
    background-color: #333333;
    border-bottom: 1px solid rgb(31, 30, 30);
    position: fixed;
    width: 42%;
    top: 0;
    margin: 0 1vw;
  }

  #notifics {
    margin-top: 12vh;
  }

  #notific {
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 2vh 1vw;
    line-height: 2vw;
    background-color: #333333;
    border-radius: 20px;
    margin: 2vh 1vw;
    img {
      width: 4vw;
      height: 4vw;
      border-radius: 100px;
      margin: 0 auto;
    }
  }

  #notific:hover {
    background-color: #444444;
  }

  #no-notific {
    text-align: center;
    padding: 5vh 0;
  }

  #explore-fixed {
    position: fixed;
    top: 0;
    width: 42%;
    background-color: #333333;
    margin: 0 1vw;
    z-index: 1000;
  }

  .explore-left {
    form {
      padding: 2vh 2vw 0.5vh 2vw;
    }
  }
  #explore-tabs {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    font-weight: bold;
    div {
      padding: 2vh 1vw;
    }
  }
  #explore-tabs div:hover {
    background-color: #444444;
  }

  #explore-posts {
    margin-top: 20vh;
  }

  #friend-suggesstions {
    height: 100vh;
    overflow-y: auto;
    scrollbar-color: #444444 #333333;
    p {
      padding: 1vh 1vw;
      font-size: 1.5em;
      background-color: #333333;
      margin: 0 1vw;
    }
  }
  #suggess-profile-pic {
    display: grid;
    grid-template-columns: 20% 40% 40%;
    padding: 2vh 2vw;
    background-color: #333333;
    margin: 2vh 1vw;
    border-radius: 20px;
    img {
      width: 4vw;
      height: 4vw;
      border-radius: 100px;
      margin: 0 auto;
    }
    button {
      @extend #button;
      background-color: #2a2a2a;
      padding: 1vh 1vw;
    }
  }

  #suggess-profile-pic:hover {
    background-color: #444444;
  }

  #trending-peoples {
    height: 100vh;
    overflow-y: auto;
    scrollbar-color: #444444 #333333;
    p {
      padding: 1vh 1vw;
      font-size: 1.5em;
      border-bottom: 1px solid lightgray;
      margin: 0;
    }
  }
  #trending-profile {
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
    padding: 2vh 2vw;
    border-bottom: 1px solid lightgray;
    img {
      width: 4vw;
      height: 4vw;
      border-radius: 100px;
      margin: 0 auto;
    }
    button {
      padding: 1vh 1vw;
      background-color: white;
      color: #063c5e;
      border: 1px solid #063c5e;
      border-radius: 100px;
      font-weight: bold;
    }
  }
  #comments {
    @extend .user_posts;
    border-bottom: 0;
    padding-right: 5vw;
  }

  #comment-images {
    position: relative;
    width: 50%;
  }

  #comment_detail {
    @extend #post_detail;
    background-color: #3a3b3c;
    border-radius: 30px;
    padding-left: 2vw;
  }

  #comment-user-detail {
    margin: 0;
    padding: 0;
  }

  #overlayOnCmtImage {
    position: absolute;
    top: 3%;
    left: 0;
    right: 5.5%;
    bottom: 3%;
    background-color: rgba(19, 17, 17, 0.5);
    h1 {
      font-size: medium;
      text-align: center;
      color: white;
      padding: 20%;
    }
  }
  #like-share-onComment {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-items: center;
    padding: 1vh 0;
    color: gray;
    i {
      vertical-align: middle;
    }
  }
  #sub_comments {
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 2vh 2vw 2vh 5vw;
    grid-column: span 2;
  }
}

@media screen and (min-width: 481px) and (max-width: 900px) {
  * {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    outline: 0;
    color: white;
    scrollbar-color: #444444 #333333;
  }

  ul {
    list-style-type: none;
  }
  i {
    vertical-align: middle;
  }

  span {
    color: lightgray;
  }

  #dot {
    height: 2vw;
    width: 2vw;
    background-color: green;
    border: 2px solid white;
    border-radius: 100px;
    display: inline-block;
  }

  video {
    width: 90%;
    max-height: 60vh;
  }

  iframe {
    width: 90%;
    height: 40vh;
  }

  #button3 {
    background-color: #333333;
    border: 0;
    padding: 2vh 2vw;
    border-radius: 100px;
    font-weight: bold;
    font-size: small;
    width: 100%;
  }

  #button3:hover {
    background-color: black;
  }

  #overlay-pics {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
    background-color: rgba(19, 18, 18, 0.9);
    background-size: cover;
    z-index: 100;
    padding-top: 5vh;
    img {
      display: block;
      margin: 0 auto;
      max-height: 90vh;
    }
    button {
      position: absolute;
      top: 12vh;
      right: 55vh;
      background-color: rgba(19, 18, 18, 0.5);
      color: white;
    }
  }

  #home {
    background-color: #0a0c11;
    padding: 35vh 30vw;
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    div {
      text-align: center;
      font-size: xx-large;
      font-weight: bold;
      width: 100%;
      padding: 1vh 0;
      color: white;
      button {
        @extend #button3;
        margin: 1vh;
        width: 40%;
      }
    }
  }

  #user {
    display: grid;
    grid-template-columns: 20% 80%;
  }

  #side-nav {
    display: none;
  }

  #side-nav-tablet {
    position: fixed;
    height: 100vh;
    padding: 0;
    width: 23%;
    background-color: #2a2a2a;
    li {
      padding: 3vh 2vw;
      font-weight: bold;
      font-size: large;
      text-align: center;
      background-color: #333333;
      margin: 2vh 1vw;
      border-radius: 20px;
      i {
        font-weight: bold;
        font-size: xx-large;
        vertical-align: middle;
      }
      span {
        position: absolute;
        top: 46vh;
        left: 11vw;
        display: none;
      }
    }
    li:hover {
      background-color: #444444;
    }
    button:hover {
      background-color: black;
    }
  }

  #side-nav-phone {
    display: none;
  }

  #tweet-button-tablet {
    background-color: #333333;
    border: 0;
    width: 10vw;
    height: 10vw;
    border-radius: 100px;
    margin-left: 6.5vw;
  }

  #tweet-button-phone {
    display: none;
  }

  #main {
    display: grid;
    grid-template-columns: 80% 20%;
    position: absolute;
    top: 0;
    left: 23%;
    width: 77%;
    background-color: #2a2a2a;
  }

  .main-left {
    min-height: 100vh;
  }

  #profile-head {
    display: grid;
    grid-template-columns: 90% 10%;
    padding: 1vh 1vw;
    font-size: 14px;
    border-bottom: 1px solid rgb(27, 27, 27);
    margin: 0 1vw;
    position: fixed;
    top: 0;
    width: 59.5%;
    background-color: #333333;
    z-index: 10;
    i {
      line-height: 2;
    }
  }

  #cover-image {
    height: 15vw;
    width: 96.5%;
    background-color: gray;
    margin: 9vh 1vw 0 1vw;
  }

  #profile-pic {
    width: 10vw;
    height: 10vw;
    border-radius: 100px;
    border: 4px solid white;
    position: absolute;
    top: 18vw;
    left: 3vw;
  }

  #profile-div {
    display: grid;
    grid-template-columns: auto;
    padding: 2vh 1vw 1vh 1vw;
    background-color: #333333;
    margin: 0 1vw;
    div {
      padding: 1vh 0;
    }
    button {
      @extend #button3;
      background-color: #2a2a2a;
    }
  }

  .main-right {
    display: none;
  }

  #search-people-results {
    position: fixed;
    width: 50.5%;
    box-shadow: 0 0 5px #2a2a2a;
    display: none;
    background-color: #333333;
    z-index: 10000;
    left: 31%;
    padding: 0;
    a {
      text-decoration: none;
      color: black;
    }
    li {
      display: grid;
      grid-template-columns: 15% 85%;
      padding: 2vh 2vw;
      div {
        font-size: 1.5vw;
        padding-left: 1vw;
      }
      img {
        width: 6vw;
        height: 6vw;
        border-radius: 100px;
      }
    }
    li:hover {
      background-color: #444444;
    }
  }

  #post-profile-div {
    img {
      width: 50px;
      height: 50px;
      border-radius: 100px;
    }
  }
  #text {
    font-weight: bold;
    font-size: 20px;
  }

  #post-footer {
    display: grid;
    grid-template-columns: 70% 10% 10% 10%;
    justify-items: center;
    button {
      background-color: #2a2a2a;
      border: 1px solid black;
    }
  }

  #post-gif-select,
  #post-emoji-select {
    display: none;
    overflow: auto;
    scrollbar-color: #444444 #333333;
    height: 30vh;
    grid-column: span 5;
  }

  #post-img-div {
    display: none;
    margin: 1vh auto;
    div {
      height: 30vh;
      overflow: auto;
      scrollbar-color: #444444 #333333;
      i {
        position: absolute;
        top: 240px;
        right: 40px;
      }
      img {
        width: 100%;
      }
    }
  }

  #post-video-div {
    display: none;
    video {
      display: block;
      margin: 2vh auto;
    }
    i {
      position: absolute;
      top: 200px;
      right: 20px;
    }
  }

  #post-gif-div {
    width: 50%;
    margin: 1vh auto;
    display: none;
    i {
      position: absolute;
      top: 225px;
      right: 100px;
    }
  }

  .user_posts {
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 2vh 0.5vw;
    background-color: #333333;
    border-radius: 20px;
    margin: 2vh 1vw;
    img {
      width: 7vw;
      height: 7vw;
      border-radius: 100px;
      margin: 0 auto;
    }
  }
  .user_posts:hover {
    background-color: #444444;
  }

  #post_detail {
    padding: 1.5vh 0 0 0.5vw;
    overflow-wrap: break-word;
    img {
      width: 95%;
      height: auto;
      max-height: 60vh;
      margin: 1vh 0;
      border-radius: 1vh;
      border: 1px solid lightgray;
    }
  }

  #overlayOnImage {
    position: absolute;
    top: 2%;
    left: 0;
    right: 5%;
    bottom: 2%;
    background-color: rgba(19, 17, 17, 0.5);
    h1 {
      text-align: center;
      color: white;
      padding: 20%;
    }
  }

  #post-images {
    position: relative;
    width: 95%;
  }

  #like-share {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-items: center;
    padding: 1vh 0;
    color: gray;
    i {
      vertical-align: middle;
    }
  }

  #comment-gif-div {
    padding-bottom: 1vh;
    width: 50%;
    height: 100%;
    img {
      border: 0;
    }
  }

  #messages-right {
    min-height: 100vh;
    height: 100%;
    overflow-y: auto;
    scrollbar-color: #444444 #333333;
    p {
      padding: 1vh 1vw;
      font-size: 1.5em;
      background-color: #333333;
      margin: 0 1vw;
      border-bottom: 1px solid rgb(29, 29, 29);
    }
  }

  #msg-people-search {
    padding: 3vh 2vw 1vh 2vw;
    border-bottom: 1px solid rgb(31, 31, 31);
    background-color: #333333;
    margin: 0 1vw;
  }

  #msg-profile-div {
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 2vh 2vw;
    margin: 2vh 1vw;
    border-radius: 20px;
    background-color: #333333;
  }

  #msg-profile-div:hover {
    background-color: #444444;
  }

  #msg-profile-pic {
    position: relative;
    img {
      display: block;
      width: 7vw;
      height: 7vw;
      border-radius: 100px;
      margin: 0 auto;
      border: 1px solid white;
    }
    span {
      position: absolute;
      top: 5vw;
      right: 1.5vw;
    }
  }

  #msg-not-selected {
    margin-top: 40vh;
    text-align: center;
  }

  #msg-box {
    height: 96vh;
    background-color: #333333;
    margin: 2vh 1vw;
    border-radius: 20px;
  }

  #msg-box-profile {
    display: grid;
    grid-template-columns: 20% 80%;
    border-bottom: 1px solid black;
    padding: 2vh 1vw;
    img {
      width: 6vw;
      height: 6vw;
      border-radius: 100px;
      margin: 0 auto;
      border: 1px solid white;
    }
  }

  #msg-box-msgs {
    height: 76vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-color: #444444 #333333;
    padding: 1vh 1vw;
    img {
      max-height: 70vh;
      max-width: 30vw;
    }
    div {
      display: flex;
      padding: 0.5vh 0;
    }
  }

  .right {
    flex-direction: row-reverse;
    position: relative;
    img {
      border-radius: 20px 20px 0 20px;
    }
    li {
      list-style-type: none;
      max-width: 25vw;
      border-radius: 20px 20px 0 20px;
      padding: 1vh 1vw;
      background-color: #0084ff;
      overflow-wrap: break-word;
      span {
        color: white;
        text-align: right;
        font-size: 10px;
      }
    }
    span {
      align-self: flex-end;
      color: gray;
      font-size: 10px;
      padding: 0 10px;
    }
  }

  .left {
    flex-direction: row;
    i {
      display: none;
    }
    img {
      border-radius: 20px 20px 20px 0;
    }
    li {
      max-width: 60%;
      list-style-type: none;
      border-radius: 20px 20px 20px 0;
      padding: 1vh 1vw;
      background-color: #3a3b3c;
      overflow-wrap: break-word;
      span {
        text-align: right;
        font-size: 10px;
      }
      i {
        display: none;
      }
    }
    span {
      align-self: flex-end;
      font-size: 10px;
      padding: 0 10px;
    }
  }

  #msg-box-bottom-div {
    display: grid;
    grid-template-columns: 10% 10% 10% 70%;
    padding: 1vh 1vw;
    text-align: center;
    border-top: 1px solid black;
    i {
      line-height: 1.5;
    }
    input {
      border-radius: 1vw;
      border: 1px solid lightgray;
      padding: 0.5vh 1vw;
      color: black;
    }
  }

  #gif-modal {
    height: 60vh;
    overflow: auto;
    scrollbar-color: #444444 #333333;
  }

  #home-posts {
    h2 {
      margin: 0 1vw;
      width: 58.5vw;
      position: fixed;
      padding: 2vh 2vw;
      top: 0;
      z-index: 1000;
      background-color: #333333;
    }
  }
  #home-div-posts {
    margin-top: 12vh;
  }

  #home-profile-div {
    display: none;
  }

  #single-post-head {
    padding: 1vh 2vw;
    background-color: #333333;
    margin: 0 1vw;
    width: 59vw;
    position: fixed;
    top: 0;
    border-bottom: 1px solid black;
  }
  #single-post-div {
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 2vh 1vw;
    margin: 8.5vh 1vw 0 1vw;
    width: 59vw;
    background-color: #333333;
    img {
      width: 7vw;
      height: 7vw;
      border-radius: 100px;
      margin: 0 auto;
      border: 1px solid white;
    }
  }

  #single-post-detail {
    padding: 1vh 2vw;
    font-size: 18px;
  }

  #single-post-text {
    font-size: 18px;
    overflow-wrap: break-word;
  }

  #single-post-img-div {
    display: grid;
    grid-template-columns: auto auto;
    padding-right: 2vw;
    img {
      width: 95%;
      height: auto;
      max-height: 70vh;
      border-radius: 1vh;
      border: 1px solid white;
    }
  }

  #single-post-date {
    padding: 1vh 2vw;
    margin: 0 1vw;
    width: 59vw;
    background-color: #333333;
    span {
      font: 12px;
    }
  }

  #single-post-likeshare {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 2vh 2vw;
    margin: 0 1vw;
    width: 59vw;
    background-color: #333333;
  }

  #likesharecomment {
    display: grid;
    grid-template-columns: 34% 33% 33%;
    border-bottom: 1px solid black;
    padding: 2vh 0;
    margin: 0 1vw;
    width: 59vw;
    background-color: #333333;
    span {
      margin: 0 auto;
    }
  }

  #explore-fixed {
    position: fixed;
    top: 0;
    width: 59%;
    margin: 0 1vw;
    z-index: 1000;
    background-color: #333333;
  }

  .explore-left {
    form {
      padding: 2vh 2vw 0.5vh 2vw;
    }
  }
  #explore-tabs {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    font-weight: bold;
    div {
      padding: 2vh 1vw;
    }
  }
  #explore-tabs div:hover {
    background-color: #444444;
  }

  #explore-posts {
    margin-top: 20vh;
  }

  #notific-div {
    min-height: 90vh;
  }

  #notific-head {
    padding: 2vh 2vw;
    position: fixed;
    top: 0;
    width: 58.5vw;
    background-color: #333333;
    margin: 0 1vw;
  }

  #notifics {
    margin-top: 12vh;
  }

  #notific {
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 2vh 1vw;
    line-height: 3vw;
    background-color: #333333;
    border-radius: 20px;
    margin: 2vh 1vw;
    img {
      width: 6vw;
      height: 6vw;
      border-radius: 100px;
      margin: 0 auto;
    }
  }

  #notific:hover {
    background-color: #444444;
  }

  #no-notific {
    text-align: center;
    padding: 5vh 0;
  }

  #comments {
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 2vh 2vw 2vh 0.5vw;
    border-bottom: 0;
    img {
      width: 7vw;
      height: 7vw;
      border-radius: 100px;
      margin: 0 auto;
    }
  }

  #comment-images {
    position: relative;
    width: 50%;
  }

  #comment_detail {
    padding: 1.5vh 0 0 2vw;
    overflow-wrap: break-word;
    img {
      width: 95%;
      height: auto;
      max-height: 60vh;
      margin: 1vh 0;
      border-radius: 1vh;
    }
    background-color: #3a3b3c;
    border-radius: 30px;
    padding-left: 3vw;
  }

  #overlayOnCmtImage {
    position: absolute;
    top: 3%;
    left: 0;
    right: 5.5%;
    bottom: 3%;
    background-color: rgba(19, 17, 17, 0.5);
    h1 {
      font-size: medium;
      text-align: center;
      color: white;
      padding: 20%;
    }
  }
  #like-share-onComment {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-items: center;
    padding: 1vh 0;
    color: gray;
    i {
      vertical-align: middle;
    }
  }

  #sub_comments {
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 2vh 2vw 2vh 10vw;
    grid-column: span 2;
  }
}

@media screen and (max-width: 480px) {
  * {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 15px;
    outline: 0;
    color: white;
    scrollbar-color: #444444 #333333;
  }

  ul {
    list-style-type: none;
  }
  i {
    vertical-align: middle;
    font-size: 14px;
  }

  #dot {
    height: 3.5vw;
    width: 3.5vw;
    background-color: green;
    border: 2px solid white;
    border-radius: 100px;
    display: inline-block;
  }

  video {
    width: 90%;
    max-height: 60vh;
  }

  iframe {
    width: 90%;
    height: 30vh;
  }

  span {
    color: lightgray;
    font-size: 14px;
  }
  #button2 {
    background-color: #2a2a2a;
    border: 1px solid black;
    padding: 2vh 5vw;
    border-radius: 100px;
    font-weight: bold;
    font-size: 15px;
    width: 100%;
  }

  #button2:hover {
    background-color: black;
  }

  #home {
    background-color: #0a0c11;
    padding: 25vh 10vw;
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    div {
      text-align: center;
      font-size: xx-large;
      font-weight: bold;
      width: 100%;
      padding: 1vh 0;
      color: white;
      button {
        @extend #button2;
        margin: 1vh;
        width: 40%;
      }
    }
  }

  #user {
    display: grid;
  }

  #side-nav-phone {
    width: 100%;
    display: grid;
    padding: 0;
    grid-template-columns: 25% 25% 25% 25%;
    border: 1px solid black;
    background-color: #333333;
    li {
      text-align: center;
      width: 25vw;
      i {
        line-height: 10vh;
      }
      span {
        position: absolute;
        top: 2vh;
        left: 62vw;
        display: none;
      }
    }
    li:hover {
      background-color: #444444;
    }

    position: fixed;
    bottom: 0;
    margin: 0;
    z-index: 10;
  }

  #tweet-button-phone {
    background-color: #2a2a2a;
    border: 1px solid black;
    color: white;
    position: fixed;
    width: 10vh;
    height: 10vh;
    bottom: 15vh;
    left: 75vw;
    border-radius: 100px;
  }

  #tweet-button-phone:hover {
    background-color: black;
  }

  #side-nav {
    display: none;
  }

  #side-nav-tablet {
    display: none;
  }

  #main {
    width: 100vw;
    min-height: 100vh;
    background-color: #2a2a2a;
  }

  .main-left {
    width: 100vw;
    display: grid;
    margin-bottom: 10vh;
  }

  .main-right {
    display: none;
  }
  #profile-head {
    display: grid;
    grid-template-columns: 90% 10%;
    padding: 1vh 5vw;
    font-size: 5vw;
    position: fixed;
    width: 100%;
    background-color: #2a2a2a;
    z-index: 10;
    border-bottom: 1px solid black;
    i {
      line-height: 2;
    }
  }

  #profile-body {
    position: fixed;
    top: 10vh;
    bottom: 10vh;
    overflow-y: scroll;
    scrollbar-color: #444444 #333333;
  }

  #cover-image {
    height: 35vw;
    width: 100%;
    background-color: lightgray;
    border-bottom: 1px solid black;
  }

  #profile-pic {
    width: 25vw;
    height: 25vw;
    border-radius: 100px;
    border: 3px solid white;
    position: absolute;
    top: 23vw;
    left: 3vw;
  }

  #profile-div {
    display: grid;
    grid-template-columns: auto;
    padding: 2vh 1vw 1vh 1vw;
    border-bottom: 1px solid black;
    div {
      padding: 1vh 2vw;
      button {
        @extend #button2;
      }
    }
  }

  .main-right {
    display: none;
  }

  #search-people-results {
    position: fixed;
    width: 86%;
    box-shadow: 0 0 5px #333333;
    display: none;
    background-color: #333333;
    z-index: 10000;
    left: 7%;
    padding: 0;
    a {
      text-decoration: none;
      color: black;
    }
    li {
      display: grid;
      grid-template-columns: 30% 70%;
      padding: 2vh 2vw;
      div {
        font-size: 1vw;
        padding-left: 1vw;
      }
      img {
        display: block;
        width: 15vw;
        height: 15vw;
        border-radius: 100px;
        margin: 0 auto;
        border: 1px solid lightgray;
      }
    }
    li:hover {
      background-color: #444444;
    }
  }

  #post-profile-div {
    img {
      width: 50px;
      height: 50px;
      border-radius: 100px;
    }
  }
  #text {
    font-weight: bold;
    font-size: 16px;
  }

  #post-footer {
    display: grid;
    grid-template-columns: 49% 17% 17% 17%;
    justify-items: center;
    button {
      background-color: #333333;
    }
  }

  #post-gif-select,
  #post-emoji-select {
    display: none;
    overflow-y: scroll;
    scrollbar-color: #444444 #333333;
    height: 30vh;
    grid-column: span 5;
  }

  #post-img-div {
    display: none;
    margin: 1vh auto;
    i {
      position: absolute;
      top: 170px;
      right: 17px;
    }
    div {
      height: 30vh;
      overflow: auto;
      scrollbar-color: #444444 #333333;
      display: grid;
      grid-template-columns: auto auto;

      img {
        width: 100%;
        max-height: 50vh;
        padding: 1vh;
      }
    }
  }

  #post-video-div {
    display: none;
    video {
      display: block;
      margin: 2vh auto;
      max-height: 30vh;
    }
    i {
      position: absolute;
      top: 150px;
      right: 20px;
    }
  }

  #post-gif-div {
    width: 100%;
    margin: 1vh auto;
    display: none;
    i {
      position: absolute;
      top: 160px;
      right: 40px;
    }
    img {
      display: block;
      margin: 0 auto;
    }
  }

  .user_posts {
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 2vh 0.5vw;
    background-color: #333333;
    border-radius: 20px;
    margin: 2vh 4vw;
    img {
      width: 11vw;
      height: 11vw;
      border-radius: 100px;
      margin: 0 auto;
    }
  }

  .user_posts:hover {
    background-color: #444444;
  }

  #post-user-detail {
    padding-bottom: 1vh;
    margin: 0;
  }

  #post_detail {
    padding: 1.5vh 1vw 0 0.5vw;
    overflow-wrap: break-word;
    font-size: 14px;
    line-height: 18.33px;
    img {
      width: 95%;
      height: auto;
      max-height: 60vh;
      margin: 1vh 0;
      border-radius: 1vh;
      border: 1px solid lightgray;
    }
  }

  #overlayOnImage {
    position: absolute;
    top: 2.5%;
    left: 0;
    right: 5%;
    bottom: 2.5%;
    background-color: rgba(19, 17, 17, 0.5);
    h1 {
      font-size: 1em;
      text-align: center;
      color: white;
      padding: 20%;
    }
  }

  #post-images {
    position: relative;
    width: 95%;
  }

  #like-share {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-items: center;
    padding: 1vh 0;
    color: gray;
    i {
      font-size: 14px;
      vertical-align: middle;
    }
  }

  #comment-gif-div {
    width: 50%;
    img {
      width: 90%;
      border: 0;
    }
  }
  #messages-right {
    height: 90vh;
    overflow-y: auto;
    scrollbar-color: #444444 #333333;
    p {
      padding: 1vh 5vw;
      font-size: 1.5em;
      border-bottom: 1px solid black;
    }
  }

  #msg-people-search {
    padding: 1vh 2vw;
    border-bottom: 1px solid black;
    i {
      font-size: 15px;
    }
  }

  #msg-profile-div {
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 2vh 2vw;
    margin: 2vh 3vw;
    background-color: #333333;
    border-radius: 20px;
  }

  #msg-profile-pic {
    position: relative;
    img {
      display: block;
      width: 15vw;
      height: 15vw;
      border-radius: 100px;
      margin: 0 auto;
      border: 1px solid white;
    }
    span {
      position: absolute;
      top: 11vw;
      right: 6vw;
    }
  }

  #msg-not-selected {
    margin-top: 40vh;
    text-align: center;
  }

  #msg-box-profile {
    display: grid;
    grid-template-columns: 6% 30% 64%;
    border-bottom: 1px solid black;
    padding: 2vh 1vw;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: #2a2a2a;
    img {
      width: 15vw;
      height: 15vw;
      border-radius: 100px;
      margin: 0 auto;
      border: 1px solid white;
    }
    i {
      line-height: 2;
      padding: 0 1vw;
    }
    i:hover {
      background-color: #444444;
      border-radius: 100px;
    }
  }

  #msg-box-msgs {
    display: flex;
    flex-direction: column;
    padding: 1vh 1vw;
    position: fixed;
    top: 12vh;
    width: 100%;
    bottom: 11vh;
    overflow-y: scroll;
    background-color: #444444;
    img {
      max-height: 70vh;
      max-width: 70vw;
    }
    div {
      display: flex;
      padding: 0.5vh 0;
    }
  }

  .right {
    flex-direction: row-reverse;
    position: relative;
    img {
      border-radius: 20px 20px 0 20px;
    }
    li {
      list-style-type: none;
      max-width: 70vw;
      border-radius: 20px 20px 0 20px;
      padding: 2vh 4vw;
      background-color: #0084ff;
      color: white;
      overflow-wrap: break-word;
      span {
        color: white;
        text-align: right;
        font-size: 10px;
      }
    }
    span {
      align-self: flex-end;
      font-size: 10px;
      padding: 0 10px;
    }
  }

  .left {
    flex-direction: row;
    img {
      border-radius: 20px 20px 20px 0;
    }
    i {
      display: none;
    }
    li {
      max-width: 70vw;
      list-style-type: none;
      border-radius: 20px 20px 20px 0;
      padding: 2vh 4vw;
      background-color: #3a3b3c;
      overflow-wrap: break-word;
      span {
        text-align: right;
        font-size: 10px;
      }
      i {
        display: none;
      }
    }
    span {
      align-self: flex-end;
      font-size: 10px;
      padding: 0 10px;
    }
  }

  #msg-box-bottom-div {
    position: fixed;
    bottom: 0;
    z-index: 100;
    width: 100%;
    background-color: #2a2a2a;
    display: grid;
    grid-template-columns: 10% 10% 10% 70%;
    justify-items: center;
    padding: 1vh 2vw;
    text-align: center;
    border-top: 1px solid black;
    margin: 0;
    i {
      font: 14px;
      line-height: 2;
      text-align: center;
    }
    input {
      margin: 1vh 0;
      width: 100%;
      border-radius: 100px;
      border: 1px solid lightgray;
      padding: 0.1vh 5vw;
      color: black;
    }
  }

  #gif-modal {
    height: 60vh;
    overflow: auto;
    scrollbar-color: #444444 #333333;
  }

  #home-posts {
    width: 100vw;
  }

  #home-profile-div {
    position: fixed;
    width: 100%;
    height: 10vh;
    z-index: 2;
    background-color: #2a2a2a;
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: 20% 70%;
    padding: 2vh 2vw;
    p {
      font-size: large;
      padding-left: 2vw;
      margin: 0;
    }
    img {
      width: 10vw;
      height: 10vw;
      border-radius: 100px;
      margin: 0 auto;
      border: 1px solid white;
    }
  }

  #home-div-posts {
    margin-top: 12vh;
  }
  #single-post-head {
    position: fixed;
    top: 0;
    padding: 1vh 2vw;
    width: 100%;
    border-bottom: 1px solid black;
    background-color: #2a2a2a;
    z-index: 10;
    h3 {
      padding-left: 4vw;
      margin: 0;
    }
  }
  #single-post-div {
    margin-top: 11vh;
    display: grid;
    grid-template-columns: 20% 80%;
  }
  #single-post-profile-pic {
    img {
      display: block;
      width: 15vw;
      height: 15vw;
      border-radius: 100px;
      margin: 0 auto;
      border: 1px solid white;
    }
  }

  #single-post-text {
    font-size: 14px;
    overflow-wrap: break-word;
  }

  #single-post-img-div {
    display: grid;
    grid-template-columns: auto auto;
    width: 95%;
    img {
      width: 95%;
      height: auto;
      max-height: 80vh;
      border-radius: 1vh;
      border: 1px solid lightgray;
    }
  }

  #single-post-date {
    padding: 1vh 2vw;
    span {
      font: 12px;
    }
  }

  #single-post-likeshare {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 2vh 2vw;
  }

  #likesharecomment {
    display: grid;
    grid-template-columns: 30% 30% 40%;
    border-bottom: 1px solid black;
    justify-items: center;
    padding: 1vh 0;
    color: gray;
    i {
      font-size: 14px;
      vertical-align: middle;
    }
  }

  #notific-head {
    padding: 2vh 4vw;
    border-bottom: 1px solid black;
    h3 {
      margin: 0;
      font-size: large;
      font-weight: bold;
    }
  }

  #notific {
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 2vh 1vw;
    line-height: 7vw;
    background-color: #333333;
    border-radius: 20px;
    margin: 2vh 4vw;
    img {
      width: 15vw;
      height: 15vw;
      border-radius: 100px;
      margin: 0 auto;
    }
  }

  #notific:hover {
    background-color: #444444;
  }

  #no-notific {
    text-align: center;
    padding: 5vh 0;
  }

  #explore-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: 1px solid black;
    background-color: #333333;
  }

  .explore-left {
    form {
      margin: 0 auto;
      width: 90%;
      padding: 2vh 2vw 0.5vh 2vw;
      i {
        font-size: large;
      }
    }
  }
  #explore-tabs {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    font-weight: bold;
    div {
      padding: 2vh 1vw;
    }
  }
  #explore-tabs div:hover {
    background-color: #444444;
  }

  #explore-posts {
    margin-top: 20vh;
    margin-bottom: 10vh;
  }

  #overlay-pics {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
    background-color: rgba(19, 18, 18, 0.9);
    background-size: contain;
    z-index: 10000;
    padding-top: 5vh;
    overflow: auto;
    scrollbar-color: #444444 #333333;
    img {
      display: block;
      margin: 0 auto;
    }
  }
  #comments {
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 2vh 8vw 2vh 0.5vw;
    border-bottom: 0;
    img {
      width: 11vw;
      height: 11vw;
      border-radius: 100px;
      margin: 0 auto;
    }
  }
  #comments:hover {
    background: none;
  }

  #comment-images {
    position: relative;
    width: 50%;
  }

  #comment_detail {
    padding: 1.5vh 0 0 2vw;
    overflow-wrap: break-word;
    img {
      width: 95%;
      height: auto;
      max-height: 60vh;
      margin: 1vh 0;
      border-radius: 1vh;
    }
    background-color: #444444;
    border-radius: 30px;
    padding-left: 6vw;
  }

  #overlayOnCmtImage {
    position: absolute;
    top: 3%;
    left: 0;
    right: 5.5%;
    bottom: 3%;
    background-color: rgba(19, 17, 17, 0.5);
    h1 {
      font-size: medium;
      text-align: center;
      color: white;
      padding: 20%;
    }
  }
  #like-share-onComment {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-items: center;
    padding: 1vh 0;
    color: gray;
    i {
      vertical-align: middle;
    }
  }
  #sub_comments {
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 2vh 5vw 2vh 10vw;
    grid-column: span 2;
  }
}
